/* ------------- generales ------------- */
header {
    /*background-color: #cf2e2e;*/
    background-color: #692929;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo_header_facena img,
  .logo_header_unne img {
    max-height: 60px;
    width: auto;
  }
  
  .header-text {
    text-align: center;
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .header-text h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding: 5px 10px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    border-radius: 10px;
    display: inline-block;
  }

nav {
    display: flex;
    justify-content: center;
    background-color: #856d16;
    padding: 10px;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

/* ------------- responsive ------------- */
@media (max-width: 768px) {

    .logo_header {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    nav ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 10px;
        cursor: pointer;
        padding: 10px;
        background: none;
        border: none;
        outline: none;
    }

    nav ul li {
        border-bottom: 2px solid #fff;
        margin: 0;
        padding: 10px 0;
    }

    .menu-toggle img {
        width: 100px; /* ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
    }

    
}
